<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Fatec" connectionString="Server=LAB5-11;Database=CadastroDSMCSHARP;trusted_connection=yes"></add>
	</connectionStrings>
</configuration>