outros/*
1_Semestre/ADM Geral
1_Semestre/Arquitetura e organizacao de computadores
1_Semestre/Ingles
1_Semestre/Laboratório de Hardware
1_Semestre/Matemática Discreta
2_Semestre/Comunicacao e Expressao
2_Semestre/ingles_II
2_Semestre/linguagem de programacao/.vscode
2_Semestre/Engenharia_de_Software_I
2_Semestre/Contabilidade
2_Semestre/Sistemas_de_Informacao/.vscode