.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
outros/*
FatecSCS/1_Semestre/ADM Geral
FatecSCS/1_Semestre/Arquitetura e organizacao de computadores
FatecSCS/1_Semestre/Ingles
FatecSCS/1_Semestre/Laboratório de Hardware
FatecSCS/1_Semestre/Matemática Discreta
FatecSCS/2_Semestre/Comunicacao e Expressao
FatecSCS/2_Semestre/ingles_II
FatecSCS/2_Semestre/linguagem de programacao/.vscode
FatecSCS/2_Semestre/Contabilidade
FatecSCS/2_Semestre/Calculo
FatecSCS/2_Semestre/Sistemas_de_Informacao/.vscode
FatecSCS/2_Semestre/linguagem de programacao/Atividades+Exercicios/Tarefa-2/.vscode
*.exe
FatecSCS/3_Semestre/Estruturas_de_dados/.vscode
FatecSCS/3_Semestre/Sociedade e Tecnologia
FatecSCS/3_Semestre/IHC
FatecSCS/3_Semestre/InglesIII
FatecSCS/3_Semestre/Economia
FatecSCS/3_Semestre/SOI
2_Semestre/DevWebII/usbwebserver/apache2/logs/*
!2_Semestre/DevWebII/usbwebserver/usbwebserver.exe