<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Fatec" connectionString="Server=LAB5-11;Database=CadastroGamesTecProgII;trusted_connection=yes"></add>
		<add name="Local" connectionString="Data Source=localhost,1433;Initial Catalog=CadastroGamesTecProgII;Persist Security Info=True;User ID=sa;Password=@Sql012210"></add>
	</connectionStrings>
</configuration>